.tab-item__content{
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid black;
}

.tab-item__panel {
    /* margin: 0 auto; */
    width: 100%;
}

.tab-item__button {
    width: 100%;
    text-align: center;
}

.tab-item__button-submit {
    float: left;
    color: #000;
    background-color: white;
    padding: 30px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}


.listcard-container {

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px 20px;
    margin: 50px;
    align-content: center;
}

.listcard-item {
    float: left;
    padding: 20px;
}

.img-box{
    background-color: #ddd;
    width: 300px;
    height: 300px;
}

.mypage-circle {
    width: 200px;
    height: 200px;
    background: gainsboro;
    border-radius: 50%;
}