.category-item{
    border:2px #ff5555 solid ;
    border-radius: 50px;
    color: #ff5555;
    display: inline-block;
    padding: 0px 20px;
    margin: 20px 10px;
    line-height: 30px;

}

.category-container h2,
.content-container h2 {
    color: #909090;
    border-bottom: 2px solid #ddd;
}

.item-content{
    display: inline;
    height: 160px;
}

.sell__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 700px;
}

.sell-container{
    text-align: left;
    height: 190px;
}

.sell-container-circle{
    border: 2px solid #ddd;
    border-radius: 3px;
    height: 150px;
    text-align: center;
    padding: 50px;
}

.img-button{
    border: 2px solid #FF5555;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    color: #FF5555;
}

.main-title {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.input-container,
.page-link {
    margin-top: 20px;
}

.btn-container {
    margin-top: 80px;
}

.input-container input,
.search-condition-select {
    background-color: transparent;
    width: 680px;
    height: 40px;
    font-size: 18px;
    border: 2px solid #909090;
    border-radius: 5px;
}

.input-container h3 {
    text-align: left;
}

.input-container p {
    text-align: center;
    color: #ed1a3d;
}

.btn-container input {
    background-color: #FF5555;
    width: 400px;
    height: 40px;
    font-size: 18px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.flash_message {
    margin-bottom: 50px;
    padding: 10px 0;
    background-color: #f2c0c1;
}

.page-link {
    display: inline-block;
    width: 400px;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    color: #0073CC;
}

.search-condition-select{
    width: 100%;
}